{% extends 'base.html.twig' %}

{% block title %}{{parent()}} - Comentarios{% endblock %}

        {% block stylesheets %}
        {{parent()}}
        {% endblock %}

{% block body %}


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar10">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar10">
            <ul class="navbar-nav nav-fill w-100">
                <li class="nav-item">
                    <a class="nav-link" href="{{path('home')}}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('blogger')}}">Blogger</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('comentarios') }}">Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

 <br>
<div class="container">
    <div class=" justify-content-center align-items-center">
        <div class="card border-primary">
            <div class="card-header text-primary text-center"><strong>Comentarios</strong></div>
                <div class="card-body text-primary">
                {{form(form)}}
                </div>
            </div>
        </div>
        </div>
{% endblock %}
